#root {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.img-banner-principal{
    width: 100%;
    height: auto;
    max-height: 150%;
    max-width: 100%;
}

.seccion-banner-principal{
    position: relative;
    font-size: 25px;
}

.content-banner{
    position: absolute;
    top: 50%;
    left: 20px; /* Ajusta la distancia izquierda según sea necesario */
    transform: translateY(-50%);
    margin-left: 55.5px;
    margin-right: 55.5px;
    padding: 48px 22px;
}

.seccion-quienes-somos{
    margin-left: 55.5px;
    margin-right: 55.5px;
    padding: 48px 22px;
}

.titulo-centrado{
    text-align: center;
    padding-bottom: 22px;
}

.seccion-proyectos{
    margin-left: 70px;
    margin-right: 70px;
    padding: 48px 22px;
}

.card-blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 55.5px;
    margin-right: 55.5px;
    padding: 48px 22px;
}
.tamanio-icono{
    width: 22px;
    height: 22px;
}

.seccion-contacto{
    margin-left: 150px;
    margin-right: 150px;
    padding: 48px 150px;
}

.btn-contacto{
    display: flex;
    justify-content: center;
}

    /* Estilos para pantalla Mobile */
@media only screen and (max-width: 768px) {

    header .navbar-nav {
        display: none;

    }
}

    /* Estilos para Pantalla Mediana o Grande */
@media only screen and (min-width: 601px) {


}